
/* let's try this instead */

#toc-bar{
    display: none !important;
}

img{
    width: 100%;
    max-width: 100%;
    max-height: 400px;
    margin: auto;
}

aside{
    background-color: #ccc;
    border: 2px dashed #999;
    padding: 10px;
    text-align: center;
}

.hang-left-aside, .hang-right-aside{
    margin-top: 10px !important;
}

.hang-left-aside-arrow, .hang-right-aside-arrow{
    display: none;
}


aside img{
    width: auto;
    max-height: 300px;
}