
/* Cadet Blue Color Scheme */
/*
 * Cadet Blue : cadetblue
 * Darker: #226C70
 * Lighter: #93C5C7
 *
 * Whole Pallete: http://paletton.com/#uid=33j0u0kd5xS4bTj8tJdhQrSminc
 *
 */


@font-face{
    font-family: bookletter;
    src: url('fonts/bookletter-1911/webfonts/goudy_bookletter_1911-webfont.eot');
    src: url('fonts/bookletter-1911/webfonts/goudy_bookletter_1911-webfont.ttf');
    src: url('fonts/bookletter-1911/webfonts/goudy_bookletter_1911-webfont.woff');
}

@font-face{
    font-family: chunk;
    src: url('fonts/chunk/webfonts/Chunkfive-webfont.eot');
    src: url('fonts/chunk/webfonts/Chunkfive-webfont.ttf');
    src: url('fonts/chunk/webfonts/Chunkfive-webfont.woff');
}

@font-face{
    font-family: inconsolata;
    src: url('fonts/Inconsolata-dz.otf');
}

body{
    font-family: bookletter, serif;
    font-size: 140%;
    background-color: #eee;
    line-height: 1.8em;
}

.main{
    position: relative;
    width: 730px;
    margin: auto;
    color: #222;
    padding-left: 20px;
    padding-right: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #226C70;
    font-family: chunk, sans-serif;
    letter-spacing: 0.08em;
}

h1{
    padding-top: 200px;
}

h2{
    margin-top: 100px;
}

h3{
    margin-top: 50px;
}

a{
    color: #226C70;
}

code{
    font-family: inconsolata;
}

.code{
    font-family: inconsolata;
    overflow: hidden;
    font-size: 60%;
    background-color: #222;
    color: white;
    padding: 10px;
    line-height: 1.5em;
}

.code strong{
    background-color: #666;
}

.aside{
    color: #444;
    position: absolute;
    width: 200px;
    margin-top: -100px;
    font-size: 80%;
    padding: 20px;
    line-height: 1.2em;
}

.aside h1, .aside h2, .aside h3, .aside h4, .aside h5, .aside h6{
    margin-top: 0
    color: CadetBlue;
}

.right-aside-arrow{
    width: 150px;
    float: right;
    margin-top: -10px;
    border-bottom: 5px dashed CadetBlue;
}

.left-aside-arrow{
    width: 150px;
    border-bottom: 5px dashed CadetBlue;
}

.right-aside{
    right: -245px;
    border-bottom: 5px dashed CadetBlue;
    border-left: 5px dashed CadetBlue;
    border-top: 5px dashed CadetBlue;
}

.right-aside img{
    max-width: 190px;
}

.left-aside{
    left: -245px;
    border-bottom: 5px dashed CadetBlue;
    border-top: 5px dashed CadetBlue;
    border-right: 5px dashed CadetBlue;
}

.small-aside{
    margin-top: -50px;
}

.aside blockquote{
    margin-left: 8px;
}

.aside blockquote .citation{
    display: block;
    text-align: right;
}

.aside blockquote .citation:before{
    color: #666;
    content: "@";
    font-size: 1em;
    line-height: 0.1em;
    margin-right: 0.1em;
}

.aside blockquote:before {
    color: #666;
    content: ">";
    font-size: 2em;
    line-height: 0.12em;
    margin-right: 0.05em;
    vertical-align: -0.1em;
}

blockquote .citation{
    display: block;
    text-align: right;
}

blockquote .citation:before{
    color: #666;
    content: "@";
    font-size: 1em;
    line-height: 0.1em;
    margin-right: 0.1em;
}

blockquote:before {
    color: #666;
    content: ">";
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.3em;
}

.figure{
    padding: 10px 30px;
    border: 5px solid #aaa;
    background-color: white;
}

.figure img{
    max-width: 660px;
    border: 2px solid #222;
    margin: auto;
}


